* {
    padding: 0;
    margin: 5px;}
.sub {
    font-size: 12px;
    margin: 1px;}
table,
tr,
td {
    border: 1px solid teal;
    border-collapse: collapse;}
.list {
    margin: 6px;
    display: flex;
    justify-content: space-between;}
header {
    font-size: 12px;
    display: flex;
    justify-content: space-between;}
.logo {
    margin-left: 8px;
    /* background-color: blue; */
    height: 80px;
    width: 80px;}
.logo img {
    width: 100.67px;
    height: 93.56px;}
.head {
    margin-top: 25px;
    width: 60%;
    float: left;
    font-size: 30px;}